{{$currentLang:= site.Language.Lang}} {{$heroContent:=
site.Data.sections.hero.hero}}
<section
  class="min-h-[60vh] md:h-[53rem] block-padding inline-padding flex flex-col gap-6 items-center justify-center"
>
  <h1 class="text-6xl md:text-8xl text-center text-white capitalize md:max-w-[15ch]">
    {{index $heroContent.title $currentLang}}
  </h1>
  <p class="text-center max-w-[65ch] text-white">
    {{index $heroContent.description $currentLang }}
  </p>
{{ partial "helpers/links/link" (dict "key" $heroContent.linkKey) }}
</section>
