{{$currentLang:= site.Language.Lang}}
{{$ctx:= . }}
{{$linkName:= .name}}
{{/*  {{ $filteredLink := where site.Data.global.links "name" "eq" $linkName }}
{{$link:= index $filteredLink 0}}  */}}


{{/*  {{ if $filteredLink }}  */}}
{{$linkStyle:= .style}}
{{$linkHref:= .href}}
{{$linkExternality:= .isExternal}}
{{$label := T $linkName}}
<a
href="{{$linkHref}}"
{{if
 .isExternal}}rel="noopener noreferrer"
 target="_blank"
 {{end}}
 class="{{ .style | default "ghost-white" }} {{ if and $label .iconUrl }}
 flex items-center gap-2
 {{ end }} group"
 aria-label="{{ $label }}"
 >  
 {{$iconSrc:= .iconUrl.src }}
  {{$iconAlt:= .iconUrl.alt | default "icon of {{$label}} link" }}
  {{$icon := resources.Get $iconSrc}} 
  {{ if (and .iconUrl (not $label)) }} 
  <img src="{{$icon.RelPermalink}}" class="invert group-hover:invert-0" alt="{{$iconAlt}}" />  
  {{end}}

  {{ if (and $label (not .iconUrl)) }} 
{{$label}}{{end}}

  {{ if (and .iconUrl $label) }}
  
  {{ if  .isIconOnRight }}
  
  {{$label}}
  <img src="{{$icon.RelPermalink}}" alt="{{$iconAlt}}" class="invert group-hover:invert-0 " />
  {{ else }}
  <img src="{{$icon.RelPermalink}}" alt="{{$iconAlt}}" class="invert group-hover:invert-0 " />
  {{$label}}
  
  {{ end }}
  {{end}}

</a>

{{/*  {{ else }}
<p class="text-red-500">⚠️ Link {{ $linkName }} not found in data/links.yaml</p>

{{ end }}  */}}
