{{$isHomePage:= .IsHome}} {{ with .Site.Data.common.headerBgImg }}
{{$headerBgImg:= resources.Get .src }} {{$headerBgImgWebp:=$headerBgImg.Resize
"x1400 webp" }}

<header
  class="h-fit {{if $isHomePage}} bg-dark-green bg-[url('{{$headerBgImgWebp.RelPermalink}}')] bg-blend-screen bg-cover bg-center bg-fixed {{else}} bg-white {{end}}"
>
  {{ partial "components/layout/nav" (dict "ctx" $) }} {{if $isHomePage }}
  {{partial "sectionBlocks/hero" . }} {{end}}
</header>
{{ else }}
<header class="h-fit bg-dark-green">
  {{ partial "components/layout/nav" (dict "ctx" $) }} {{ if $isHomePage }} {{ partial
  "sectionBlocks/hero" . }} {{ end }}
</header>

{{ end }}
